---
import { Icon } from 'astro-icon/components';
import 'swiper/swiper-bundle.css'
import Image from '~/components/common/Image.astro';
import PostTags from '~/components/store/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import { getLocalizedPermalink, getPermaStoreLink, getPermalink, getStorePermaLink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';
import Button from '../ui/Button.astro';
import type { StoreItem } from '~/types';
import { getLocaleFromUrl, useTranslations } from '~/i18n/translator';

export interface Props {
  storeItem: StoreItem;
  url: string | URL;
}

const { storeItem, url } = Astro.props;
const {tags,name} = storeItem
const locale = getLocaleFromUrl(Astro.url)
const {t} = useTranslations(locale)

---

<section class="   mx-auto">
  <article>
    <header data-aos="fade-up" class={storeItem.image ? 'space-y-10' : ''}>
      <div class="flex items-start  space-x-0 justify-start sm:space-x-5 flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-0 sm:items-center">
        <Button variant="tertiary" class="px-3 md:px-3" href={getLocalizedPermalink(locale,'/store')}>
          <Icon name="tabler:chevron-left" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
          {t('buttons.back_to_list')}
        </Button>
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(storeItem.publishDate)} class="inline-block">{getFormattedDate(storeItem.publishDate)}</time>
          {
            storeItem.category && (
              <>
                {' '}
                ·{' '}
                <a class="capitalize hover:underline inline-block" href={getPermalink(storeItem.category, 'category')}>
                  {storeItem.category.replaceAll('-', ' ')}
                </a>
              </>
            )
          }
          {storeItem.readingTime && <> · {storeItem.readingTime} min read</>}
        </p>
      </div>
    <div class="space-y-6">
        <h1
        class=" mx-auto text-4xl md:text-5xl font-medium leading-tighter tracking-tighter font-heading break-all"
      >
        {name}
      </h1>
      <p
        class=" mx-auto mt-4 mb-8  text-md   dark:text-slate-400 text-justify"
      >
      {storeItem.excerpt && storeItem.excerpt.replace(/<\/?p>/g, '')    }

      </p>
      <Button variant="primary" text={storeItem.price ? `${t('buttons.buy_for')} ${storeItem.price}` : t('buttons.buy_for_free')} href={storeItem.buy_link}/>
      <Button variant="secondary" text={t('buttons.preview')} href={storeItem.preview_link}/>
    </div>
    <div class="swiper max-w-[900px] overflow-hidden">
      <div class="swiper-wrapper">
        {
          storeItem.image ? (
            <Image
              src={storeItem.image}
              class="max-w-full   mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700 swiper-slide"
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={storeItem?.excerpt || ''}
              width={900}
              height={506}
              loading="eager"
              decoding="async"
            />
          ) : (
            <div class="max-w-3xl mx-auto px-4 sm:px-6">
              <div class="border-t dark:border-slate-700" />
            </div>
          )
        }
        {
          storeItem.image_1 ? (
            <Image
              src={storeItem.image_1}
              class="max-w-full   mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700 swiper-slide"
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={storeItem?.excerpt || ''}
              width={900}
              height={506}
              loading="eager"
              decoding="async"
            />
          ) : (
            <div class="max-w-3xl mx-auto px-4 sm:px-6">
              <div class="border-t dark:border-slate-700" />
            </div>
          )
        }
          {
            storeItem.image_2 ? (
              <Image
                src={storeItem.image_2}
                class="max-w-full   mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700 swiper-slide"
                widths={[400, 900]}
                sizes="(max-width: 900px) 400px, 900px"
                alt={storeItem?.excerpt || ''}
                width={900}
                height={506}
                loading="eager"
                decoding="async"
              />
            ) : (
              <div class="max-w-3xl mx-auto px-4 sm:px-6">
                <div class="border-t dark:border-slate-700" />
              </div>
            )
          }
            {
              storeItem.image_3 ? (
                <Image
                  src={storeItem.image_3}
                  class="max-w-full   mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700 swiper-slide"
                  widths={[400, 900]}
                  sizes="(max-width: 900px) 400px, 900px"
                  alt={storeItem?.excerpt || ''}
                  width={900}
                  height={506}
                  loading="eager"
                  decoding="async"
                />
              ) : (
                <div class="max-w-3xl mx-auto px-4 sm:px-6">
                  <div class="border-t dark:border-slate-700" />
                </div>
              )
            }
              {
                storeItem.image_4 ? (
                  <Image
                    src={storeItem.image_4}
                    class="max-w-full   mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700 swiper-slide"
                    widths={[400, 900]}
                    sizes="(max-width: 900px) 400px, 900px"
                    alt={storeItem?.excerpt || ''}
                    width={900}
                    height={506}
                    loading="eager"
                    decoding="async"
                  />
                ) : (
                  <div class="max-w-3xl mx-auto px-4 sm:px-6">
                    <div class="border-t dark:border-slate-700" />
                  </div>
                )
              }
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev bg-[#505051] fill-white after p-1 !w-10 !h-10 !text-white rounded-full after:!content-none" ><Icon size={20} name="chevron-left"/></div>
      <div class="swiper-button-next  bg-[#505051] fill-white after p-1 !w-10 !h-10 !text-white rounded-full after:!content-none"><Icon size={20} name="chevron-right"/></div>

    </div> 
    
   
    </header>
    <main class="py-5">
      {
        storeItem.Content ? (
          <storeItem.Content />
        ) : (
          <Fragment set:html={storeItem.Content} />
        )
      }
     
    </main>
    <hr>
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row ">
      <PostTags tags={tags? tags : []} class="mr-5 rtl:mr-0 rtl:ml-5" />
      <SocialShare url={url} text={name} class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600" />
    </div>
  </article>
</section>
<script >
  // Import Swiper and modules
import Swiper from 'swiper';
import { Navigation, Pagination, Scrollbar } from 'swiper/modules';

// Now you can use Swiper
new Swiper('.swiper', {
  // Install modules
  modules: [Navigation, Pagination, Scrollbar],
  speed: 500,
  slidesPerView: 1,
  spaceBetween: 20,

  allowSlideNext: true,
  allowSlidePrev: true,
  allowTouchMove: true,
  effect: 'fade',
  direction: 'horizontal',
  loop: true,
  centeredSlides: true,
  fadeEffect: {
    crossFade: true
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
