---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '@/layouts/PageLayout.astro';
import BlogList from '@/components/store/List.astro';
import Pagination from '@/components/store/Pagination.astro';
// import PostTags from "@/components/blog/Tags.astro";

import { getStaticPathsBlogList,storeListRobots } from '@/utils/store';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: storeListRobots?.index && currentPage === 1,
    follow: storeListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="">
    <div class="space-y-4 font-[600] mb-10">
      <h1 class="text-3xl font-[600] ">
        Store
      </h1>
      <p class="text-md font-[400] text-subtitle">
        Check my exclusive resources
      </p>
    </div>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
