---
import Image from "astro/components/Image.astro";
import type Post from "@/interfaces/Post";
import Button from "../ui/Button.astro";
interface Props {
  post : Post
}
const {post} = Astro.props
const {title,excerpt,slug,featuredImage} = post
(post)
---
<div class="flex gap-6 xl:gap-16 md:space-y-0 md:flex-row  flex-col-reverse">

  <div class="flex-1 space-y-2">
    <span class="text-sm text-[#434343] font-light dark:text-[#9A9A9A] md:text-xs">{new Date(post.date).toLocaleString('en-US', {month: 'long',year: 'numeric'})}</span> 
    <h2 class="text-wrap break-all	 text-2xl md:text-xl font-medium">{title}</h2>
    <div class="pb-2 text-sm">
      <Fragment  set:html={excerpt}/>
    </div>
    <Button href={slug}  variant="secondary" text="Read more"/>
  </div>
  <a href={slug} class="flex-initial ">

    <Image 
    class='rounded-xl shadow-xl  h-full min-w-full  md:max-w-full md:h-auto'
    width={250}
    height={250}
    src={featuredImage.image.src}
    alt={excerpt}
    />
  </a>
</div>
