---
import { getLocaleFromUrl, useTranslations } from "@/i18n/translator"
import type { Testimonial } from "@/types"
import { I18N } from "@/utils/config"
import Image from "astro/components/Image.astro"
interface Props {
  item: Testimonial
}
const {item} : Props = Astro.props
const {photo, name, project, position,testimonial} = item
const lang = getLocaleFromUrl(Astro.url)
const {t} = useTranslations(lang)
---
<div class="bg-[#EFEFF0] dark:bg-[#282828] px-8 py-6 rounded-xl flex flex-col justify-between items-start space-y-4 shadow-md">
  <p class="text-[#111111] text-sm">
    {testimonial}
  </p>
  <div class="flex space-x-4">
    <Image class="rounded-xl flex-initial w-[60px] h-[60px] shadow-md" src={photo} width={75} height={75} alt={`Image of ${name}`}/>
    <div class="flex-1 space-y-1">
      <p class="text-[#111111] text-sm dark:text-white">{name}</p>
      <p class="text-xs">{position} {t('homepage.testimonial_of')} {project}</p>
    </div>
  </div>
</div>
