---
import type NormalizedTestimonial from "@/interfaces/NormalizedTestimonial"
import type Testimonial from "@/interfaces/Testimonial"
import Image from "astro/components/Image.astro"
interface Props {
  item: NormalizedTestimonial
}
const {item} : Props = Astro.props
const {photo, name, project, position,linkedin_url, testimonial} = item
---
<div class="bg-[#EFEFF0] dark:bg-[#282828] px-8 py-6 rounded-xl flex flex-col justify-between items-start space-y-4 shadow-md">
  <p class="text-[#111111] text-sm">
    {testimonial}
  </p>
  <div class="flex space-x-4">
    <Image class="rounded-xl flex-initial w-[60px] h-[60px] shadow-md" src={photo} width={75} height={75} alt={`Image of ${name}`}/>
    <a href={linkedin_url} class="flex-1 space-y-1">
      <p class="text-[#111111] text-sm dark:text-white">{name}</p>
      <p class="text-xs">{position} of {project}</p>
    </a>
  </div>
</div>
