---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '@/layouts/PageLayout.astro';
import BlogList from '@/components/blog/List.astro';
import Pagination from '@/components/blog/Pagination.astro';
// import PostTags from "@/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '@/utils/blog';
import { I18N } from '@/utils/config';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const lang = Astro.currentLocale!
  return await getStaticPathsBlogList({ paginate }, lang);
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="">
    <div class="space-y-4 font-[600] mb-10">
      <h1 class="text-3xl font-[600] ">
        Blog
      </h1>
      <p class="text-md font-[400] text-subtitle">
        The place where I share resources and tools I use    
      </p>
    </div>
    <section data-aos="fade-up">
      <BlogList posts={page.data} />
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </section>
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
