---
import Layout from '@/layouts/PageLayout.astro';
import AuthorQuery from '@/graphql/AuthorQuery';
import { wpquery } from '@/data/wordpress';
import Button from '@/components/ui/Button.astro';
import type Author from '@/interfaces/Author';
import Form from '@/components/ui/Form.astro';

const metadata = {
  title: "Contact | Alex's Portfolio",
  ignoreTitleTemplate: true,
};
const { email,phonenumber } : Author = (await wpquery({query: AuthorQuery})).owners.edges[0].node.author
const inputs = [
  {
    type: 'text',
    placeholder: 'Name',
    name: 'Name'
  },
  {
    type: 'email',
    placeholder: 'Email',
    name: 'Email'
  },
]
const textarea = {
  placeholder:'Message'
}
---

<Layout metadata={metadata}>
  <section class="border-b py-5 dark:border-b-[#424242]">
    <div class="space-y-4 font-[600]">
      <h1 class="text-3xl font-[600] ">
        Contact
      </h1>
      <p class="text-sm font-[400] text-subtitle">
        Get in touch for web development inquiries
      </p>
    </div>
  </section>
  <section>
    <div class="flex space-y-4 md:space-y-0 md:flex-row md:items-center justify-between py-8 flex-col items-start">
      <div class="flex-1">
        <p class="text-[#111111] ">
          {email}
        </p>
        <p class="text-xs text-subtitle">
          E-mail
        </p>
      </div>
      <div class="flex-1">
        <p class="text-[#111111]">
          {phonenumber}
        </p>
        <p class="text-xs text-subtitle">
          Phone number
        </p>
      </div>
    </div>
    <div>
      <Button href="/about"  variant="primary" text="Schedule a call" />
      <Button id="copyEmailButton" type="button" icon="copy" variant="secondary" text="Copy email"/>
    </div>
  </section>
  <section class="py-10 space-y-6">
    <h2 class="text-2xl font-[500]">Send a message</h2>
    <Form inputs={inputs} textarea={textarea}/>
  </section>
</Layout>
