---
import Layout from '~/layouts/PageLayout.astro';
import type { Author } from '~/types';
import Button from '~/components/ui/Button.astro';
import Form from '~/components/ui/Form.astro';
import { fetchAuthor } from '~/utils/author';
import { I18N } from '~/utils/config';
import { getLocaleFromUrl, useTranslations } from '~/i18n/translator';


const lang = getLocaleFromUrl(Astro.url)
const { email,phone_number } : Author = (await fetchAuthor(lang as string))[0]
const {t} = useTranslations(lang)
const metadata = {
  title: t('contact.metadata.title'),
  ignoreTitleTemplate: true,
};
const inputs = [
  {
    type: 'text',
    placeholder: 'Name',
    name: 'Name'
  },
  {
    type: 'email',
    placeholder: 'Email',
    name: 'Email'
  },
]
const textarea = {
  placeholder:'Message'
}
---

<Layout metadata={metadata}>
  <section class="border-b py-5 dark:border-b-[#424242]">
    <div class="space-y-4 font-[600]">
      <h1 class="text-3xl font-[600] ">
        {
          t('contact.title')
        }
      </h1>
      <p class="text-sm font-[400] text-subtitle">
        {
          t('contact.subtitle')
        }
      </p>
    </div>
  </section>
  <section >
    <div class="flex space-y-4 md:space-y-0 md:flex-row md:items-center justify-between py-8 flex-col items-start">
      <div class="flex-1">
        <a href={"emailto:" + email} class="text-[#111111]  dark:text-white">
          {email}
        </a>
        <p class="text-xs text-subtitle">
          {
            t('contact.email')
          }
        </p>
      </div>
      <div class="flex-1">
        <a  href={"tel:" + phone_number.substring(1)} class="text-[#111111] dark:text-white">
          {phone_number}
        </a>
        <p class="text-xs text-subtitle">
          {
            t('contact.phone_number')
          }        
          </p>
      </div>
    </div>
    <div>
      <Button href="/about"  variant="primary" text={t('buttons.schedule_call')} />
      <Button id="copyEmailButton" type="button" icon="copy" variant="secondary" text={t('buttons.copy_email')}/>
    </div>
  </section>
  <section data-aos="fade-up" class="py-10 space-y-6">
    <h2 class="text-2xl font-[500]">{t('buttons.send')}</h2>
    <Form inputs={inputs} textarea={textarea}/>
  </section>
</Layout>
<script define:vars={{email, lang}} >
function init(){
  const button = document.getElementById('copyEmailButton')
  function copyEmailToClipboard() {
    navigator.clipboard.writeText(email);
    const oldText = button.innerHTML
    button.innerHTML =  `${lang == 'en'? 'Copy' : 'Copiado'}! <svg class="w-4 h-4 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
	<rect width="24" height="24" fill="none" />
	<path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59z" />
</svg>`
    setTimeout(() => {
      button.innerHTML = oldText
    }, 1500);
  }
  button.addEventListener('click', copyEmailToClipboard)
}
init()
  document.addEventListener('astro:after-swap',
  () => init())
</script>
