---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/store/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/store/Pagination.astro';
import { getLocaleFromUrl, useTranslations } from '~/i18n/translator';
import { getStaticPathsStoreItemTag } from '~/utils/store';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsStoreItemTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;
const locale = getLocaleFromUrl(Astro.url)
const currentPage = page.currentPage ?? 1;
const {t} = useTranslations(locale)

const metadata = {
  title: `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>{t('title_category')}: {tag}</Headline>
    <section data-aos="fade-up">
      <BlogList posts={page.data.map(p => p.locales[locale])} />
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </section>
  </section>
</Layout>
