---
import Header from '~/components/widgets/Header.astro';
import Sidebar from '~/components/widgets/Sidebar.astro';
import Layout from '~/layouts/Layout.astro';
import type { MetaData } from '~/types';
import ToggleTheme from '~/components/common/ToggleTheme.astro'
import { fetchAuthor } from '~/utils/author';
import { I18N } from '~/utils/config';
import { getHeaderData, getFooterData } from '~/navigation';
import { getLocaleFromUrl, useTranslations } from '~/i18n/translator';
export interface Props {
  metadata?: MetaData;
}

const locale = getLocaleFromUrl(Astro.url)
const authorSidebarData = (await fetchAuthor(locale))[0]
const headerData = getHeaderData(getLocaleFromUrl(Astro.url));
const {t} = useTranslations(locale)
// const footerData = getFooterData(getLocaleFromUrl(Astro.url));
export interface Props {
  metadata?: MetaData;
}
const { metadata } = Astro.props;
const showLanguagePicker = I18N.isEnabled;
---

<Layout metadata={metadata}>
  <slot name="announcement">
  </slot>
  <div class="flex flex-col md:flex-row ">
    <slot name="header">
      <!-- <Header {...headerData} isSticky showRssFeed showToggleTheme showLanguagePicker={showLanguagePicker} /> -->
    </slot>
    <slot name="sidebar">
      <Sidebar author={authorSidebarData} {...headerData} isSticky showRssFeed showToggleTheme showLanguagePicker={showLanguagePicker} />
    </slot>

    
    <div class="min-h-screen mb-10  md:mr-5 flex-1 ">
      <main class="w-full   h-full bg-white dark:bg-[#1A1A1A]  rounded-xl shadow-md md:m-2">
        <div class="md:w-[80%] pt-4 md:pt-12 px-4 pb-4 md:pb-20 md:px-0  lg:pt-24 lg:w-[60%] mx-auto">
          <slot />
        </div>
      </main>
      <div>
          <ul class="flex  list-disc text-xs text-gray-400 w-full space-x-6 mt-2 px-3">
            <li>
              {t('footer.made_by')} <a class="hover:underline transition " href="https://alexsrebernic.com">Alex Srebernic</a> 
            </li>
            <li>
              {t('footer.built_in')} <a class="hover:underline transition " href="https://astro.build/">Astro</a> 
            </li>
            <li>
               <a class="hover:underline transition " href="https://github.com/alexsrebernic/Techfolio">
                {t('footer.get_template_for_free')}
              </a>
            </li>
          </ul>
      </div>
    </div>
   
  </div>
  <slot name="footer">
  </slot>
</Layout>
